<h1><%= @user.name %></h1>
<% if @user.rolable.is_a?(Worker) %>
	<% user_job = @user.rolable.jobs.includes(:hires).where(hires: { accepted: true}) %>
	<div>
		<%= @user.rolable.about %>
	</div>
	<ul id="user-tab" class="nav nav-tabs">
	  <li class="active"><a href="#hired-jobs" data-toggle="tab">Выполненные Работы</a></li>
	  <li><a href="#feed-back" data-toggle="tab">Отзывы</a></li>
	  <li><a href="#qa" data-toggle="tab">Задать Вопрос</a></li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="hired-jobs">
			<%= render partial: "jobs/accepted_job", locals: { jobs: user_job.all } %>
	  </div>
	  <div class="tab-pane" id="feed-back">
		  <% user_job.each do |job| %>
		  	<%= render partial: "jobs/feedbacks", locals: { job: job, show_worker: false } %>
		  <% end %>
	  </div>
	  <div class="tab-pane" id="qa">...</div>
	</div>
	
<% end %>